<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="axiom-jfrog" value="https://tu-servidor.jfrog.io/artifactory/api/nuget/v3/axiom-nuget" />
  </packageSources>

  <packageSourceMapping>
    <clear />
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="axiom-jfrog">
      <package pattern="Axiom.*" />
      <package pattern="Axiom.Tool" />
    </packageSource>
  </packageSourceMapping>

  <apikeys>
    <add key="https://tu-servidor.jfrog.io/artifactory/api/nuget/v3/axiom-nuget" value="REEMPLAZA_CON_TU_API_KEY" />
  </apikeys>
</configuration>
